<app-header titulo="Grid"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Grid</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1 class="ion-padding" style="text-align: center">Destinos turisticos</h1>
  <ion-grid>
    <ion-row>
      <ion-col push-sm="6"
        ><img
          src="https://images.unsplash.com/photo-1431274172761-fca41d930114?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80"
          alt=""
          srcset=""
        />Paris</ion-col
      >
      <ion-col pull-sm="6"
        ><img
          src="https://images.unsplash.com/photo-1529260830199-42c24126f198?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=876&q=80"
          alt=""
          srcset=""
        />Roma</ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col push-sm="6"
        ><img
          src="https://images.unsplash.com/photo-1514214246283-d427a95c5d2f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=780&q=80"
          alt=""
          srcset=""
        />Miami</ion-col
      >
      <ion-col pull-sm="6"
        ><img
          src="https://images.unsplash.com/photo-1626060451577-8b90a394e355?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80"
          alt=""
          srcset=""
        />Guanacaste</ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col push-sm="6"
        ><img
          src="https://images.unsplash.com/photo-1543783207-ec64e4d95325?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80"
          alt=""
          srcset=""
        />
        Madrid</ion-col
      >
      <ion-col pull-sm="6"
        ><img
          src="https://images.unsplash.com/photo-1602088113235-229c19758e9f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=867&q=80"
          alt=""
          srcset=""
        />Cancun</ion-col
      >
    </ion-row>
  </ion-grid>
</ion-content>
