<app-header titulo="Spinner"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Spinner</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-spinner name="lines"></ion-spinner>
  </div>
  <span
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    "
    >Cargando...</span
  >

  <div class="container">
    <ion-spinner name="circular"></ion-spinner>
  </div>
  <span
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    "
    >Cargando...</span
  >

  <div class="container">
    <ion-spinner name="dots"></ion-spinner>
  </div>
  <span
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    "
    >Cargando...</span
  >
</ion-content>
