.icon-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .icon-container ion-icon {
    margin-right: 10px;
    height: 30px;
    width: 30px;
  }

  span{
    font-size: larger;
  }
  