<app-header titulo="Breadcrumbs"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Breadcrumbs</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-breadcrumbs class="ion-margin-top" class="ion-padding">
    <ion-breadcrumb>
      <ion-icon slot="start" name="home"></ion-icon>
      Inicio
    </ion-breadcrumb>
    <ion-breadcrumb>
      <ion-icon slot="start" name="flash"></ion-icon>
      Series
    </ion-breadcrumb>
    <ion-breadcrumb>
      <ion-icon slot="start" name="film"></ion-icon>
      Películas
    </ion-breadcrumb>
  </ion-breadcrumbs>
</ion-content>
