<app-header titulo="Content"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Content</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="margin-top: 70px" class="ion-activatable">
    <h2 style="margin-top: 70px">Header</h2>
    <ion-ripple-effect></ion-ripple-effect>
  </div>

  <p class="ion-activatable" style="margin-top: 10px">
    Home
    <ion-ripple-effect></ion-ripple-effect>
  </p>

  <div style="margin-top: 10px" class="ion-activatable">
    <h2 style="margin-top: 70px">Footer</h2>
    <ion-ripple-effect></ion-ripple-effect>
  </div>
</ion-content>
