.ion-activatable {
    position: relative;
    overflow: hidden;
  }
  
  ion-ripple-effect {
    color: white;
  }
  
  div,
  p {
    height: 200px;
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    outline: none;
  }
  
  div {
    background: #452452;
    color: white;
    display: block;
    text-align: center;
  }
  
  p{
    background: #222;
    color: white;
  }
 