<app-header titulo="Action sheet"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Action Sheet</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card class="ion-padding" style="margin-top: 100px">
    <img
      alt="Silhouette of mountains"
      src="https://images.unsplash.com/photo-1524008279394-3aed4643b30b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80"
    />
    <ion-card-header>
      <ion-card-title>Disney </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Tiene varias atracciones turisticas y de entretenimiento.
    </ion-card-content>
    <ion-button
      class="ion-padding"
      style="margin-bottom: 20px"
      id="open-action-sheet"
      >Acciones</ion-button
    >
  </ion-card>

  <ion-action-sheet
    trigger="open-action-sheet"
    header="Acciones"
    [buttons]="actionSheetButtons"
  ></ion-action-sheet>
</ion-content>
