<app-header titulo="Thumbnail"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Thumbnail</ion-title>
    </ion-toolbar>
  </ion-header>
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
    "
  >
    <ion-thumbnail style="height: 200px; width: 200px">
      <img
        style="height: 200px; width: 200px"
        alt="Silhouette of mountains"
        src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
      />
      <h2 style="text-align: center; font-size: 20px; margin-top: 0">
        Thumbnail grande
      </h2>
    </ion-thumbnail>
  </div>

  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 60px;
    "
  >
    <ion-thumbnail style="height: 150px; width: 120px">
      <img
        style="height: 150px; width: 120px"
        alt="Silhouette of mountains"
        src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
      />
      <h2 style="text-align: center; font-size: 20px; margin-top: 0">
        Thumbnail mediano
      </h2>
    </ion-thumbnail>
  </div>

  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 80px;
    "
  >
    <ion-thumbnail style="height: 110px; width: 80px">
      <img
        style="height: 110px; width: 80px"
        alt="Silhouette of mountains"
        src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
      />
      <h2 style="text-align: center; font-size: 16px; margin-top: 0">
        Thumbnail pequeño
      </h2>
    </ion-thumbnail>
  </div>
</ion-content>
