<app-header titulo="Navigation"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Navigation</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-nav *ngIf="component" [root]="component"></ion-nav>

  <div
    style="
      margin-top: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <button
      style="
        height: 50px;
        width: 80%;
        font-size: large;
        background-color: black;
        border-radius: 5px;
      "
      class="ion-padding"
      (click)="activateRangePage()"
    >
      <strong style="color: white">Ir a card</strong>
    </button>
  </div>
</ion-content>
