
.facebook{
color: #3B5998;
height: 100px; width: 70px;
}
.twitter{
color: #1DA1F2;
height: 100px; width: 70px;
}
.youtube{
color: #E12B28;
height: 100px; width: 70px;
}

.github{
color: #211F1F;
height: 100px; width: 70px;
}