<app-header titulo="Icons"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Icons</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-margin-start" style="margin-top: 80px">
    <div
      class="container"
      style="display: flex; justify-content: center; align-items: center"
    >
      <ion-icon
        style="height: 200px; width: 150px"
        class="facebook"
        name="logo-facebook"
      ></ion-icon>
      <h2 style="text-align: center; margin-left: 20px">Facebook</h2>
    </div>
    <div
      class="container"
      style="display: flex; justify-content: center; align-items: center"
    >
      <ion-icon
        style="height: 200px; width: 150px"
        class="twitter"
        name="logo-twitter"
      ></ion-icon>
      <h2 style="text-align: center; margin-left: 20px">Twitter</h2>
    </div>
    <div
      class="container"
      style="display: flex; justify-content: center; align-items: center"
    >
      <ion-icon
        style="height: 200px; width: 150px"
        class="youtube"
        name="logo-youtube"
      ></ion-icon>
      <h2 style="text-align: center; margin-left: 20px">Youtube</h2>
    </div>
    <!-- <div
      class="container"
      style="display: flex; justify-content: center; align-items: center"
    >
      <ion-icon
        style="height: 200px; width: 150px"
        class="github"
        name="logo-github"
      ></ion-icon>
      <h2 style="text-align: center; margin-left: 20px">Github</h2>
    </div> -->
  </div>
</ion-content>
