<app-header titulo="Card"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Card</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="ion-padding" style="margin-top: 100px">
    <img
      alt="Silhouette of mountains"
      src="https://images.unsplash.com/photo-1517840901100-8179e982acb7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80"
    />
    <ion-card-header>
      <ion-card-title>Tamarindo Guanacaste</ion-card-title>
      <ion-card-subtitle>$120/Noche</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Posee bellas vistas, ademas de tiene varios servicios para el uso de los
      clientes.
    </ion-card-content>
  </ion-card>
</ion-content>
