<app-header titulo="input"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Input</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1 class="ion-text-center" style="margin-top: 50px">
    Complete el formulario
  </h1>
  <ion-list class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-input label="Email:" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Contraseña:" type="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Dirección:"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Teléfono:" type="tel"></ion-input>
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content>
